@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Poppins", Arial, Sans-Serif;
  color: rgb(34, 34, 59);
  padding: 0;
  margin: 0;
}

/* HEADER */
.header {
  display: flex;
  padding: 15px;
  background-color: rgb(34, 34, 59);
}
.header-logo,
.header-title {
  margin: auto;
  padding: 10px;
}
.header-logo img{
  height: 80px;
}
.header-title a{
  color: #fff;
  text-decoration: none;
  font-weight: 900;
}

/* NAVBAR */
.nav {
  display: flex;
  background-color: rgb(223, 231, 253);
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 15px 15px;
}
.nav-item {
  list-style: none;
  margin: 15px;
}
.nav-item a {
  font-weight: 400;
  text-decoration: none;
  color: rgb(34, 34, 59);
}
.nav-item a:hover {
  color: rgba(34, 34, 59, 0.8);
}

/* KONTEN */
.konten h1 {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-weight: 800;
}
