@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Poppins", Arial, Sans-Serif;
  padding: 0;
  margin: 0;
}
body {
  color: rgb(16, 0, 43);
}
/* HEADER */
.header {
  display: flex;
  padding: 15px;
  justify-content: space-around;
  background-color: rgb(16, 0, 43);
}
.header-logo,
.header-title {
  margin: auto;
  padding: 10px;
}
.header-logo img{
  height: 80px;
}
.header-title a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

/* NAVBAR */
.nav {
  display: flex;
  background-color: rgb(223, 231, 253);
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 15px 15px;
}
.nav-item {
  list-style: none;
  margin: 15px;
}
.nav-item a {
  font-weight: 400;
  text-decoration: none;
  color: rgb(16, 0, 43);
}
.nav-item a:hover {
  color: rgba(16, 0, 43, 0.8);
}

/* KONTEN */
.konten {
  width: 80%;
  margin: auto;
}
.konten h1 {
  font-weight: 800;
  padding-bottom: 10px;
  margin-top: 26px;
}
.konten h2 > span{
  color: rgb(129, 135, 220);
}
.konten p {
  margin-top: 20px;
}

/* TABLE */
.container-table {
  overflow: scroll;
  padding: 10px;
}
.table {
  overflow: hidden;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 10px;
  width: 79vw;
  border-spacing: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table th,
.table td {
  padding: 12px 15px;
}
.table img {
  width: 100px;
  border-radius: 10px;
}
.table thead tr {
  background-color: rgba(129, 135, 220);
  color: #ffffff;
  text-align: center;
  transition: .3s ease;
}
.table thead tr:hover {
  background-color: rgba(117, 123, 200, 1);
}
.table tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: .3s ease;
}
.table tbody tr:hover {
  background-color: rgba(223, 231, 253, 0.5);
}
.table tbody tr:nth-of-type(even) {
  background-color: rgb(223, 231, 253);
}
.table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(129, 135, 220);
}

/* FORM */
.form {
  width: 60%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
  margin-top: 55px;
  margin-bottom: 20px;
}
.form-group {
  margin-top: 20;
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 20px;
}
.form-group input {
  box-sizing: border-box;
  display: block;
  padding: 5px;
  height: 35px;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(223, 231, 253);
}
.form-group textarea {
  padding: 5px;
  border: 1px solid rgb(223, 231, 253);
  outline: none;
  display: block;
  margin-top: 10px;
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  resize: none;
}
.btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  transition: .3s;
  background-color: rgba(129, 135, 220);
}
.btn:hover {
  background-color: rgba(117, 123, 200, 1);
}
.btn:active {
  background: transparent;
  font-weight: 500;
  color:rgba(117, 123, 200, 1);
  border: 1.5px solid rgba(117, 123, 200, 1);
}

@media screen and (max-width: 576px) {
  .form {
    width: 100%;
  }
}